@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.woff2') format('woff2'), url('fonts/BebasNeueRegular.woff') format('woff'), url('fonts/BebasNeueRegular.ttf') format('truetype'), url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 1120px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 1120px;
    position: relative;
    height: 5527px;
    margin: 0 auto;
}

.landing {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/rasputin-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.landing__header .countdown {
    font-family: 'BebasNeueRegular';
    font-size: 36px;
    position: absolute;
    top: 251px;
    left: 809px;
}

.countdown {
    font-family: 'BebasNeueRegular';
    font-size: 36px;
}

.countdown div {
    display: inline-block;
    margin-right: 67px;
}

.landing__header .landing__sale {
    position: absolute;
    top: 101px;
    left: 910px;
}

.landing__sale {
    font-size: 51px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.landing__header .landing__old-price {
    position: absolute;
    top: 211px;
    left: 709px;
}

.landing__old-price {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-decoration: line-through;
    color: #000;
}

.landing__header .landing__new-price {
    position: absolute;
    top: 185px;
    left: 835px;
}

.landing__new-price {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #1f9a02;
}

.landing__header .landing__form {
    position: absolute;
    left: 723px;
    width: 19.5%;
    height: 219px;
        top: 265px;
}

.landing__form select {
    width: 264px;
    height: 49px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 3px solid #92bd69;
    padding-left: 40px;
    background-image: url(../img/globe-icon.jpg);
    background-position: 9px 14px;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
}

.landing__form input {
    width: 218px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 3px solid #92bd69;
    padding-left: 40px;
    background-image: url(../img/user.jpg);
    background-position: 9px 14px;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
}

.landing__form .form__item:nth-child(3) input {
    background-image: url(../img/mobile.jpg);
    margin-top: 1px;
}

.landing__form input[type=submit] {
    background-color: #000;
    background-image: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffe700), to(#ffb703));
    background: -webkit-linear-gradient(top, #ffe700, #ffb703);
    background: -o-linear-gradient(top, #ffe700, #ffb703);
    background: linear-gradient(to bottom, #ffe700, #ffb703);
    width: 295px;
    height: 77px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
    padding-left: 0;
    border: none;
        position: relative;
    font-weight: bold;
    right: 16px;
    top: 8px;
}

.landing__form input[type=submit]:active {
    opacity: 0.6;
    border: none;
}

.form__item {
    margin-bottom: 6px;
}

.btn_default {
    position: absolute;
    top: 3724px;
    left: 348px;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#05cd1c), to(#02aa15));
    background: -webkit-linear-gradient(top, #05cd1c, #02aa15);
    background: -o-linear-gradient(top, #05cd1c, #02aa15);
    background: linear-gradient(to bottom, #05cd1c, #02aa15);
    line-height: 75px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    width: 407px;
    height: 80px;
}

.btn_default:active {
    opacity: 0.6;
}

.landing__footer .landing__form  {
    position: absolute;
    top: 5134px;
    left: 706px;
}

.landing__footer .landing__sale {
top: 4960px;
    left: 890px;
    position: absolute;
}

.landing__footer .landing__old-price {
    top: 5082px;
    left: 687px;
    position: absolute;
}

.landing__footer .landing__new-price {
    top: 5055px;
    left: 814px;
    position: absolute;
}

.landing_footer {
    position: absolute;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
top: 5560px;
    text-align: center;
    left: 0%;
    right: 0%;
}

.landing_footer a {
    color: #000;
    padding-right: 30px;
   margin: 0 auto;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.iframe {
    position: absolute;
    top: 811px;
    left: 102px;
}
